.billetera{
    .box{
        width: 60%;
        margin: auto;
        margin-top: 5em;
        .balance-container{
            width: 90%;
            margin: auto;
            margin-bottom: 1em;
        }
    }
    .table-container{
        width: 100%;
        table{
            margin: auto;
        }
    }
}