<div class="login" id="login">
    <div class="container">
        <h1 class="title has-text-centered has-text-warning	has-text-weight-bold ">CambiAR</h1>
        <p class="is-size-4 has-text-centered has-text-white mb-6">Compra y Vende divisas <b>online</b> y en <b>pesos argentinos</b>.</p>
        <div class="box form-container">
            <h3 class="is-size-3 has-text-centered">Iniciar Sesion</h3>
            <form [formGroup]='loginForm' >
                <div class="field">
                    <p class="control">
                      <input class="input" type="email" placeholder="Usuario" formControlName="usuario">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                      <input class="input" type="password" placeholder="Password" formControlName="password">
                    </p>
                </div>
                <div class="field">
                    <p class="control has-text-centered">
                      <button class="button is-warning is-fullwidth" (click)="login()">
                        Iniciar Sesion
                      </button>
                    </p>
                </div>
            </form>
            <p class="is-size-6 has-text-link has-text-centered is-clickable" (click)="abrirModal()">¿Olvidaste tu contraseña?</p>
        </div>
    </div>    
    <div class="modal" id="modal">
        <div class="modal-background is-flex is-align-items-center	">
            <div class="modal-content">
                <div class="card p-5">
                    <h4 class="is-size-4 has-text-info-dark mb-2">¿Como iniciar sesion?</h4>
                    <p class="is-italic	">Para iniciar sesion en cambiAR el nombre de usuario y contraseña deben coincidir.</p>
                    <button class="button is-warning mt-4" (click)="cerrarModal()">
                        Aceptar
                    </button>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" (click)="cerrarModal()"></button>
        </div>
    </div>
</div>

