<div class="dashboard">
    <div class="container">
        <div class="box saldo-container mt-5 is-flex is-justify-content-space-around">
            <p class="is-size-2">Balance de billetera:</p> 
            <p class="is-size-2">ARS $12312.1323</p>  
        </div>
        <div class="box my-5">
            <p class="is-size-3">Resumen de tus cuentas</p>
            <div class="table-container">
                <table class="table is-hoverable">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Total</th>
                        <th>Total en pesos</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th>USD</th>
                          <td>132</td>
                          <td>ARS 3213</td>
                          <td>
                            <div>
                                <button class="button is-success is-inverted">Comprar</button>
                                <button class="button is-success is-inverted">Vender</button>
                            </div>
                        </td>
                        </tr>
                        <tr>
                          <th>BTC</th>
                          <td>0.0032</td>
                          <td>ARS 38000</td>
                          <td>
                            <div>
                                <button class="button is-success is-inverted">Comprar</button>
                                <button class="button is-success is-inverted">Vender</button>
                            </div>
                        </td>
                        </tr>
                        <tr>
                          <th>EUR</th>
                          <td>320</td>
                          <td>ARS 32223</td>
                          <td>
                              <div>
                                  <button class="button is-success is-inverted">Comprar</button>
                                  <button class="button is-success is-inverted">Vender</button>
                              </div>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box my-5">
            <p class="is-size-3">Principales Divisas Activas</p>
            <div class="is-flex is-justify-content-space-around	mt-5">
                <div class="box has-text-centered">
                    <p>USD</p>
                    <p>150.32</p>
                    <button class="button is-warning">Comprar</button>
                </div>
                <div class="box has-text-centered">
                    <p>EUR</p>
                    <p>150.32</p>
                    <button class="button is-warning">Comprar</button>
                </div>
                <div class="box has-text-centered">
                    <p>BRL</p>
                    <p>150.32</p>
                    <button class="button is-warning">Comprar</button>
                </div>
                <div class="box has-text-centered">
                    <p>BTC</p>
                    <p>150.32</p>
                    <button class="button is-warning">Comprar</button>
                </div>
                <div class="box has-text-centered">
                    <p>AUD</p>
                    <p>150.32</p>
                    <button class="button is-warning">Comprar</button>
                </div>
            </div>
            <div class="has-text-centered">
                <button class="button is-warning ">Ver Mas</button>
            </div>
        </div>
    </div>
</div>