.dashboard{
    .saldo-container{
        width: 80%;
        margin: auto;
        margin-bottom: 2em;
    }
    .balance-container{
        width: 90%;
        margin: auto;
    }
    .container{
        padding: 1em;
        margin-top: 2em;

    }
    .table-container{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        .table{
            width: 100%;
        }
    }

}