<div class="dashboard">
    <div class="container">
        <div class="box saldo-container">
            <h3 class="is-size-1 has-text-centered mb-5">Bienvenido, {{user.nombreCompleto}}</h3>
            <div class="balance-container">
                <div class="is-flex is-justify-content-space-between">
                    <p class="is-size-2 has">Cuenta en pesos:</p> 
                    <p class="is-size-2">ARS ${{user.cuentas[0].saldo}}</p> 
                </div>
            </div>
            <div class="has-text-centered my-2">
                <button class="button is-warning" (click)="abrirModal()">Depositar</button>
            </div>
        </div>
        <div class="box">
            <h3 class="is-size-3 has-text-centered">Comprar/Vender Monedas</h3>
            <div class="m-5">
                <p>Desde:</p>
                <div class="select is-fullwidth my-5">
                    <select [(ngModel)]="cuentaDesde">
                        <option *ngFor="let cuenta of user.cuentas" [ngValue]="cuenta">CUENTA EN {{cuenta.codigo}}</option>
                    </select>
                </div>
                <p>A:</p>
                <div class="select is-fullwidth my-5">
                    <select #selectElem (change)="setCuentaHacia(selectElem.value)">
                        <option *ngFor="let key of nombresDivisas">{{key}}</option>
                    </select>
                </div>
            </div>
            <div class="info-container has-text-centered">
                <div class="is-flex is-justify-content-space-between my-3">
                    <p class="is-size-4 has">Disponible en cuenta:</p> 
                    <p class="is-size-4">{{cuentaDesde? cuentaDesde.codigo + cuentaDesde.saldo : '-'}}</p> 
                </div>
                <div class="is-flex is-justify-content-space-between my-3">
                    <p class="is-size-4 has">Precio:</p> 
                    <p class="is-size-4">{{obj? '1 ' + obj.nombre + ' = ' + cuentaDesde.codigo + ' ' + obj.valor.toFixed(3) : '-'}}</p> 
                </div>
                <input class="input" type="number" placeholder="Cantidad" min="0" max="cuentaDesde.saldo" [(ngModel)]="cantidadCambio">
                <div class="is-flex is-justify-content-space-between my-3">
                    <p class="is-size-4 has">TOTAL:</p> 
                    <p class="is-size-4">{{(obj && cantidadCambio > 0 ? obj.nombre + ' ' + (cantidadCambio / obj.valor).toFixed(2)  : '-') }}</p> 
                </div>
            </div>
            <div class="has-text-centered">
                <button class="button is-success is-large" (click)="comprar()">Comprar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal">
    <div class="modal-background is-flex is-align-items-center	">
        <div class="modal-content">
            <div class="card p-5">
                <h4 class="is-size-4 has-text-info-dark mb-2">Depositar Pesos</h4>
                <div class="control">
                    <input class="input is-focused" type="number" placeholder="Cantidad" [(ngModel)]="deposito">
                  </div>
                <button class="button is-warning mt-4" (click)="depositar()">
                    Aceptar
                </button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" (click)="cerrarModal()"></button>
    </div>
</div>